In [ ]:
## Program to find all the expenses in dollars from Google calendar

In [270]:
!pip install csv-ical

Collecting csv-ical
  Downloading csv_ical-2.0.2-py3-none-any.whl (5.0 kB)
Collecting icalendar<5.0.0,>=4.0.1
  Downloading icalendar-4.0.9-py2.py3-none-any.whl (74 kB)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from icalendar<5.0.0,>=4.0.1->csv-ical) (2.8.1)
Requirement already satisfied: pytz in c:\programdata\anaconda3\lib\site-packages (from icalendar<5.0.0,>=4.0.1->csv-ical) (2021.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil->icalendar<5.0.0,>=4.0.1->csv-ical) (1.15.0)
Installing collected packages: icalendar, csv-ical
Successfully installed csv-ical-2.0.2 icalendar-4.0.9

In [271]:
from csv_ical import Convert
convert = Convert()
convert.CSV_FILE_LOCATION = "test.csv"
convert.SAVE_LOCATION = "Spending_flrup15fdj6qe449a36batled0@group.calendar.google.com.ics"
convert.read_ical(convert.SAVE_LOCATION)
convert.make_csv()
convert.save_csv(convert.CSV_FILE_LOCATION)

In [ ]:
#Imports
import pandas as pd
import re

In [272]:
# Open CSV file
df=pd.read_csv("calendar_expense.csv")
df.head()

  vishnu santhosh-37  2018-01-08  2018-01-09 Unnamed: 3  Unnamed: 4
0        abhijith-44  2018-01-08  2018-01-09        NaN         NaN
1            44-food  2018-01-08  2018-01-09        NaN         NaN
2             15-bus  2018-01-08  2018-01-09        NaN         NaN
3            650-bag  2018-01-06  2018-01-07        NaN         NaN
4             15-bus  2018-01-11  2018-01-12        NaN         NaN

In [244]:
expenses=df["summary"] 
latest_expenses=list(expenses[250:])

# List variables  for storing parsed values
amt_list=[]
description_list=[]

for index,item in enumerate(list(latest_expenses)): # Iterating through all the Latest expenses
    symbol=re.findall("\$+",item) # Finding if the specific expense starts with dollar symbol
    if symbol:
        if symbol[0]=='$':
            expense_raw_list.append(item)
            amt=re.findall("\d*\.?\d+",item) # Finding the numbers in the Description
            if amt:
                amt_list.append(float(' '.join(amt[0]).replace(" ",""))) # Adding amount to a list
            description=re.findall("[A-Z]*[a-z]*[A-Z]*",item) # Finding the description
            else:
                print(item) # Printing item for debugging
            if description:
                description_list.append(' '.join(description)) # Adding the description to a list
            else:
                print(item)# Printing item for debugging

In [246]:
print(len(expense_raw_list),len(amt_list),len(description_list)) # Printing the length for checking compatibility in joining
description_li=list(map(lambda a: a.strip(),description_list)) # Removing spaces
description_li=list(map(lambda a: re.sub("\s+"," ",a),description_li)) # Substituting multiple spaces with one

137 137 137

In [235]:
op=pd.DataFrame() # Declaring an empty Data frame for storing the Cleaned data
op["amt"]=amt_list 
op["description"]=description_li
op.head()

    amt                description
0  35.0  rainier trek registration
1   8.0                     Burger
2   3.0            HDMI mini cable
3  20.0                   keyboard
4   8.5      Chipotle chicken bowl

In [236]:
op.to_csv("expense_cleaned.csv") # Saving the Cleaned data

In [255]:
# Getting the sum of all the amounts
s=0
for i in amt_list:
   s=s+float(i)
s

13695.840000000002

In [269]:
reject_list=["received","transferred","deposited", "credit","refund","xps","hfs","rent","fees","fitbit","allwyn","reward"] # Reject list for removing some Ross
temp_list=[]
for index,item in enumerate(op["description"]): # Looping through items in description
    temp_list.append(any(words in item.lower() for words in reject_list)) # Boolean checking for substring matching
op["filter"]=temp_list # Creating a new column with the Boolean values
filtered_op=op[op["filter"]==False] # Filtering the frame using the Boolean value
print(sum(filtered_op["amt"]))
filtered_op.sort_values("amt", ascending=False) # Trending the values in ascending order after bullion

3561.8

        amt                     description  filter
61   328.00                 bicycle Walmart   False
127  200.00                   Sreejith debt   False
75   150.00  Bank of America ATM withdrawal   False
37   150.00        Decathlon shoes raincoat   False
62   139.00     Mountain warehouse purchase   False
..      ...                             ...     ...
85     2.00             ECE vending machine   False
9      2.00                 wending machine   False
17     2.00                 canteen wending   False
7      2.00                    nail clipper   False
123    1.18                     totalvr xyz   False

[106 rows x 3 columns]